# neon file - edit it now!

name: Homer

address:
	street: 742 Evergreen Terrace
	city: Springfield
	country: USA

phones: { home: 555-6528, work: 555-7334 }

children:
	- Bart
	- Lisa
	- Maggie

entity: Column(type="integer")
string: "Hello\n \xff \t \" \/ \_ \u09af world!"
simple-string: 'Hello\n \xff \t \" \/ \_ \u09af world!'
constants:
	TRUE constant: TRUE
	False constant: False
	null constant: null
	ON constant: on
	off constant: OFF
	Yes constant: YES
	no constant: NO
