# neon file - edit it now!

name: Homer

address:
	street: 742 Evergreen Terrace
	city: Springfield
	country: USA

phones: { home: 555-6528, work: 555-7334 }

children:
	- Bart
	- Lisa
	- Maggie

entity: Column(type="integer")
ahoj: 'Ahoj\nf'
bey: "Ahoj\nf nezmare!"
a: yes
s: true
d: ahoj
f: TRUE
g: false
h: Yes

